/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-very-dark-grey: hsl(248 15% 11%);
  --clr-dark-grey: hsl(248 10% 15%);
  --clr-grey: hsl(251 9% 53%);
  --clr-almost-white: hsl(252 11% 91%);

  --clr-red: hsl(0, 91%, 63%);
  --clr-orange: hsl(13, 95%, 66%);
  --clr-yellow: hsl(42, 91%, 68%);
  --clr-neon-green: hsl(127, 100%, 82%);

  /* font-families */
  --ff-jetbrains: "JetBrains Mono", monospace;

  /* font-size */
  --fs-800: 3.2rem;
  --fs-600: 2.4rem;
  --fs-400: 1.8rem;
  --fs-200: 1.6rem;

  /* padding */
  --padding-800: 3.2rem;
  --padding-600: 2.4rem;
  --padding-400: 1.6rem;
  --padding-200: 0.8rem;

  /* margin */
  --margin-800: 3.2rem;
  --margin-600: 2.4rem;
  --margin-400: 1.6rem;
  --margin-200: 0.8rem;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set font size */
html {
  font-size: 62.5%;
}

/* Reset margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

/* set up the body */
body {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--ff-jetbrains);
  color: var(--clr-almost-white);
  line-height: 1.5;

  background-color: var(--clr-very-dark-grey);
  min-height: 100vh;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-spacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.padding-md {
  padding: 1.6rem;
}

.padding-side-md {
  padding: 0 var(--padding-400);
}

.marging-btm-sm {
  margin-bottom: 0.8rem;
}

.marging-btm-md {
  margin-bottom: 1.6rem;
}

.marging-btm-lg {
  margin-bottom: 3.2rem;
}

.gap-md {
  gap: 1.6rem;
}

.hidden {
  display: none;
}

p:empty:before {
  content: attr(data-placeholder);
  color: var(--clr-grey);
}

/* ------------------- */
/* Compontents         */
/* ------------------- */

.app {
  width: 100%;
  padding: 0 var(--padding-400);
  font-size: var(--fs-200);
}

.app__title {
  font-size: var(--fs-200);
  color: var(--clr-grey);
  text-align: center;

  margin-bottom: var(--margin-400);
}

.app__result-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 6.4rem;

  margin-bottom: 1.6rem;
  padding: 0 var(--padding-400);

  background: var(--clr-dark-grey);
}

.app__result {
  font-size: var(--fs-600);
  line-height: 3.2rem;
}

.app__copied {
  font-size: var(--fs-400);
  text-transform: uppercase;
  color: var(--clr-neon-green);
}

.app__icon-copy {
  width: 17.5px;
  height: 20px;
}

.app__icon-copy:hover {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

.app__controls {
  padding: var(--padding-400);
  background: var(--clr-dark-grey);
}

.app__length {
  display: flex;
  flex-direction: column;

  margin-bottom: var(--margin-800);
}

.app__slider-container {
  position: relative;
  height: 2.6rem;
}

.app__slider {
  -webkit-appearance: none;
  appearance: none;
  z-index: 1;

  height: 0.8rem;
  width: 100%;
  margin: 0;

  background: var(--clr-very-dark-grey);
}

.app__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  z-index: 1;

  width: 28px;
  height: 28px;

  border-radius: 50%;
  background: var(--clr-almost-white);
  cursor: pointer;
}

.app__slider::-moz-range-thumb {
  appearance: none;
  position: relative;
  z-index: 1;

  width: 28px;
  height: 28px;

  border-radius: 50%;
  background: var(--clr-almost-white);
  cursor: pointer;
}

.app__slider::-webkit-slider-thumb:hover {
  border-radius: 50%;
  border: 2px solid var(--clr-neon-green);
  background: var(--clr-very-dark-grey);
}

.app__slider-progressbar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 0;

  width: 47.37%;
  height: 0.8rem;

  background: var(--clr-neon-green);
}

.app__slider::-moz-range-progress {
  background: var(--clr-neon-green);
  height: 0.8rem;
}

.app__length-number {
  font-size: var(--fs-600);
  line-height: 3.2rem;
  color: var(--clr-neon-green);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-flex;
  vertical-align: middle;

  width: 2rem;
  height: 2rem;

  margin-right: 2rem;

  border: 2px solid var(--clr-almost-white);
}

input[type="checkbox"]:hover + label::before {
  border: 2px solid var(--clr-neon-green);
}

input[type="checkbox"]:checked + label::before {
  content: url(assets/images/icon-check.svg);
  align-content: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;

  margin-right: 2rem;

  border: none;
  background: var(--clr-neon-green);
}

.app__strength {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 5.6rem;
  padding: 0 var(--padding-400);
  margin-bottom: var(--margin-400);

  background: var(--clr-very-dark-grey);
}

.app__strength-label {
  font-size: var(--fs-200);
  color: var(--clr-grey);
  text-transform: uppercase;
}

.app__strength-value {
  font-size: var(--fs-400);
  color: var(--clr-almost-white);
  text-transform: uppercase;

  margin-right: var(--margin-400);
}

.app__strength-bars {
  display: flex;
  gap: 0.8rem;
}

.app__strength-bar {
  display: flex;
  width: 1rem;
  height: 2.8rem;

  border: 2px solid var(--clr-almost-white);
}

.app__strength-bar--very-weak {
  border: none;
  background: var(--clr-red);
}

.app__strength-bar--weak {
  border: none;
  background: var(--clr-orange);
}

.app__strength-bar--medium {
  border: none;
  background: var(--clr-yellow);
}

.app__strength-bar--strong {
  border: none;
  background: var(--clr-neon-green);
}

.app__button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: none;
  font: inherit;
  outline: inherit;

  height: 5.6rem;
  width: 100%;
  background: var(--clr-neon-green);
  color: var(--clr-dark-grey);

  cursor: pointer;
}

.app__button:hover {
  border: 2px solid var(--clr-neon-green);
  background: none;
  color: var(--clr-neon-green);
}

.app__button:hover .app__button-arrow {
  filter: invert(86%) sepia(0%) saturate(2150%) hue-rotate(44deg)
    brightness(160%) contrast(96%);
}

.app__button p {
  font-size: var(--fs-200);
  text-transform: uppercase;
  margin-right: 1.6rem;
}

@media screen and (min-width: 768px) {
  :root {
    /* font-size */
    --fs-600: 3.2rem;
    --fs-200: 1.8rem;

    /* padding */
    --padding-800: 3.2rem;
    --padding-400: 3.2rem;

    /* margin */
    --margin-800: 3.2rem;
    --margin-400: 3.2rem;
  }

  .marging-btm-sm {
    margin-bottom: 1.6rem;
  }

  .app {
    max-width: 54rem;
    padding: 0rem;
  }

  .app__title {
    font-size: 2.4rem;
    margin-bottom: var(--margin-400);
  }

  .app__result-container {
    height: 8rem;
    margin-bottom: 2.4rem;
  }

  .app__icon-copy {
    width: 21px;
    height: 24px;
  }

  .app__slider-container {
    position: relative;
    height: 2.1rem;
  }

  .app__slider-progressbar {
    top: 12px;
  }

  input[type="checkbox"]:checked + label::before {
    content: url(assets/images/icon-check.svg);
    align-content: center;
    justify-content: center;

    flex-wrap: wrap;

    width: 2rem;
    height: 2rem;

    margin-right: 2rem;
  }

  .app__strength {
    height: 7.2rem;
    padding: 0 var(--padding-400);
    margin-bottom: var(--margin-400);
  }

  .app__strength-value {
    font-size: 2.4rem;

    margin-right: 1.6rem;
  }

  .app__button {
    height: 6.5rem;
  }
}
